div.title {
    font-family: 'Roboto';
    font-size: 50px ;
    color: white;
    font-weight:900;
}

span.f6 {
    display: inline;
    padding-right: 0.3rem;
}

div.topFieldInput {
margin-top: 20px;
}

label.inputTitle {
    line-height: 2.5;
    
}

input.inputText {
font-size: 1rem ;
}

fieldset {
margin-bottom: 20px;
}