.App {
  text-align: center;
  width: 100vw;
}

.center {
  display: flex;
  justify-content: center;
}

article.dataFieldsContainer {
  margin-top: calc(50px + 2vw);
  width: calc(50px + 20rem);
}



@media (max-width: 570px) {
  nav.link-wrapper {
    display: none;
  }
}
