@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  --primary-color: rgb(68, 68, 68);
  --primary-variant: rgb(24, 23, 23);
  --secondary-color: rgb(38, 166, 154);
  --base: white;
}


body {
 margin: 0;
height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Roboto";
  color: white;
  -webkit-animation: v 20s infinite;
}



@keyframes v {
  0% {
    background: #29adf0;
  }
  20% {
    background: #7a375d;
  }
  40% {
    background: #e99b71;
  }
  60% {
    background: #e6db8a;
  }
  80% {
    background: #abdfaf;
  }
  100% {
    background: #29adf0;
  }
}

@-webkit-keyframes v {
  0% {
    background: #103b50;
  }
  20% {
    background: #ad4982;
  }
  40% {
    background: #dd9066;
  }
  60% {
    background: #e6db8a;
  }
  80% {
    background: #75af7a;
  }
  100% {
    background: #8acbec;
  }
}

button {
  cursor: pointer;
}
